$item-padding: 0.2rem;

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link {
  max-height: 25px;
  white-space: nowrap;
  flex-grow: 1;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 5px;
  padding: $item-padding;

  display: block;
  background-color: var(--primary-light);
  color: var(--primary);
  text-decoration: none;
  font-size: 0.8rem;

  &:hover {
    background-color: var(--primary);
    color: var(--secondary-text);
  }

  &--active {
    color: var(--accent);
    text-decoration: underline;
  }
}
