:root {
  --primary: #607d8b;
  --primary-light: #f5f6f8;
  --primary-dark: #455a64;

  --secondary: #3eb489;
  --secondary-light: #74e7b9;

  --icon: #ffffff;
  --accent: #009688;
  --primary-text: #212121;
  --secondary-text: #fffafa;
  --divider: #bdbdbd;

  --background: #f5f5f5;
  --secondary-background: #fffafa;
}
