:root {
  --primary: #607D8B;
  --primary-light: #F5F6F8;
  --primary-dark: #455A64;

  --secondary: #3eb489;
  --secondary-light: #74e7b9;

  --icon: #FFFFFF;
  --accent: #009688;
  --primary-text: #212121;
  --secondary-text: #FFFAFA;
  --divider: #BDBDBD;

  --background: #F5F5F5;
  --secondary-background: #FFFAFA;
}